.App {
  text-align: center;
  /* font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Spectral', serif; */
}

.nav_stack{
  background-color: rgb(126, 129, 134);
}

.nav_stack > a{
  color: white;
}
